<!DOCTYPE html>
<html>
  <head>
    <title>GoalAchievement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <script>
      document.write(
        '<link rel="stylesheet" href="./assets/style.css?' + new Date().getTime() + '">'
      );
    </script>
  </head>

  <body>
    <div id="app">
    </div>
    
    <script>
      document.write(
        '<script src="./assets/bundle.js?' + new Date().getTime() + '"><\/script>'
      );
    </script>
  </body>
</html>
